body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

.title {
    font-weight: lighter;
    font-size: 25px;
}

.breadcrumb {
    color: #565959;
    font-size: 15px;
}


.product-image {
    display: flex;
    width: 300px;
    margin: 0 20px 0 0;
    box-shadow: 0px 2px 5px lightgray;
    border-radius: 1px;
}

.rating-image {
    width: 150px;
}

.container {
    display: flex;
    margin: 0 auto;
}

.author-link {
    color: #007185;
}

.body-text {
    margin: 0px;
    font-size: 25px;
}